In [16]:
import pandas as pd
import numpy as np

In [17]:
# Load your dataset
df = pd.read_csv('Income.csv')

# 1. Rename column names to lowercase
df.columns = df.columns.str.lower()

# 2. Replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')

# 3. Replace hyphens with underscores
df.columns = df.columns.str.replace('-', '_')

# 4. Drop rows with null values
df.dropna(inplace=True)

df.to_csv('i_cleaned.csv', index=False)

# View the cleaned DataFrame
df.head()

,sa2_code21,sa2_name,earners,median_age,median_income,mean_income
0,101021007,Braidwood,2467,51,46640,68904
1,101021008,Karabar,5103,42,65564,69672
2,101021009,Queanbeyan,7028,39,63528,69174
3,101021010,Queanbeyan - East,3398,39,66148,74162
4,101021012,Queanbeyan West - Jerrabomberra,8422,44,78630,91981

In [25]:

# Step 1: Load again (just in case you're starting fresh)
stops_df = pd.read_csv("Stops.txt")

# Step 2: Keep only the useful columns
stops_df = stops_df[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']]

# Step 3: Drop rows with missing lat/lon
stops_df.dropna(subset=['stop_lat', 'stop_lon'], inplace=True)

# Step 4: Rename columns to lowercase (clean and neat)
stops_df.rename(columns={
    'stop_id': 'id',
    'stop_name': 'name',
    'stop_lat': 'lat',
    'stop_lon': 'lon'
}, inplace=True)

# Step 5: Save it to a new CSV file
stops_df.to_csv("stops_cleaned.csv", index=False)

print("✅ All clean! File saved as 'stops_cleaned.csv'")
# Preview it
print(stops_df.head())

✅ All clean! File saved as 'stops_cleaned.csv'
       id                                  name        lat         lon
0  200039     Central Station, Eddy Av, Stand A -33.882206  151.206665
1  200054     Central Station, Eddy Av, Stand D -33.882042  151.206991
2  200060                       Central Station -33.884084  151.206292
3  201510                       Redfern Station -33.891690  151.198866
4  201646  Redfern Station, Gibbons St, Stand B -33.893329  151.198882