# DATA2001 Assignment - Team 3 ðŸ§ ðŸ“Š

**Group Name**: Data Princesses

**Team Members**: Michella Krishna, Yujia Liu, Katherine Kong

**Region Focus**: City and Inner South, North Sydney and Hornsby, Inner West

## Table of Contents

##  Task 1: Data Preparation

In [5]:
# Business cleaning
import pandas as pd

# Load the dataset
businesses = pd.read_csv("Businesses.csv")

# Clean column names: lowercase and replace special characters
businesses.columns = (
    businesses.columns
    .str.lower()
    .str.replace(" ", "_", regex=False)
    .str.replace("-", "_", regex=False)
)

businesses = businesses.rename(columns={
    "0_to_50k_businesses": "b_0_50k",
    "50k_to_200k_businesses": "b_50k_200k",
    "200k_to_2m_businesses": "b_200k_2m",
    "2m_to_5m_businesses": "b_2m_5m",
    "5m_to_10m_businesses": "b_5m_10m",
    "10m_or_more_businesses": "b_10m_more"
})

# Preview cleaned column names
print("Cleaned columns:", businesses.columns.tolist())

# Confirm data types and nulls (should be fine)
print(businesses.info())
print(businesses.isnull().sum())

# Export the cleaned dataset
businesses.to_csv("b_cleaned.csv", index=False)

businesses.head()

Cleaned columns: ['industry_code', 'industry_name', 'sa2_code', 'sa2_name', 'b_0_50k', 'b_50k_200k', 'b_200k_2m', 'b_2m_5m', 'b_5m_10m', 'b_10m_more', 'total_businesses']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12217 entries, 0 to 12216
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   industry_code     12217 non-null  object
 1   industry_name     12217 non-null  object
 2   sa2_code          12217 non-null  int64
 3   sa2_name          12217 non-null  object
 4   b_0_50k           12217 non-null  int64
 5   b_50k_200k        12217 non-null  int64
 6   b_200k_2m         12217 non-null  int64
 7   b_2m_5m           12217 non-null  int64
 8   b_5m_10m          12217 non-null  int64
 9   b_10m_more        12217 non-null  int64
 10  total_businesses  12217 non-null  int64
dtypes: int64(8), object(3)
memory usage: 1.0+ MB
None
industry_code       0
industry_name       0
sa2_code            0
sa2_name            0
b_0_50k             0
b_50k_200k          0
b_200k_2m           0
b_2m_5m             0
b_5m_10m            0
b_10m_more          0
total_businesses    0
dtype: int64

,industry_code,industry_name,sa2_code,sa2_name,b_0_50k,b_50k_200k,b_200k_2m,b_2m_5m,b_5m_10m,b_10m_more,total_businesses
0,A,"Agriculture, Forestry and Fishing",101021007,Braidwood,136,92,63,4,0,0,296
1,A,"Agriculture, Forestry and Fishing",101021008,Karabar,6,3,0,0,0,0,9
2,A,"Agriculture, Forestry and Fishing",101021009,Queanbeyan,6,4,3,0,0,3,15
3,A,"Agriculture, Forestry and Fishing",101021010,Queanbeyan - East,0,3,0,0,0,0,3
4,A,"Agriculture, Forestry and Fishing",101021012,Queanbeyan West - Jerrabomberra,7,4,5,0,0,0,16

In [6]:
#Population Cleaning
# Load the data
population = pd.read_csv("Population.csv")

# Clean column names: lowercase, replace hyphens and spaces with underscores
population.columns = (
    population.columns
    .str.lower()
    .str.replace("-", "_")
    .str.replace(" ", "_")
)

# Define new column names
new_columns = {
    'sa2_code': 'sa2_code',
    'sa2_name': 'sa2_name',
    '0_4_people': 'age_0_4',
    '5_9_people': 'age_5_9',
    '10_14_people': 'age_10_14',
    '15_19_people': 'age_15_19',
    '20_24_people': 'age_20_24',
    '25_29_people': 'age_25_29',
    '30_34_people': 'age_30_34',
    '35_39_people': 'age_35_39',
    '40_44_people': 'age_40_44',
    '45_49_people': 'age_45_49',
    '50_54_people': 'age_50_54',
    '55_59_people': 'age_55_59',
    '60_64_people': 'age_60_64',
    '65_69_people': 'age_65_69',
    '70_74_people': 'age_70_74',
    '75_79_people': 'age_75_79',
    '80_84_people': 'age_80_84',
    '85_and_over_people': 'age_85_over',
    'total_people': 'total'
}

# Rename columns
population.rename(columns=new_columns, inplace=True)

# Show renamed columns
print("Renamed columns:", population.columns.tolist())

# Confirm data types and nulls
print(population.info())
print(population.isnull().sum())

# Export cleaned and renamed dataset
population.to_csv("p_cleaned.csv", index=False)

# Preview the data
print(population.head())

Renamed columns: ['sa2_code', 'sa2_name', 'age_0_4', 'age_5_9', 'age_10_14', 'age_15_19', 'age_20_24', 'age_25_29', 'age_30_34', 'age_35_39', 'age_40_44', 'age_45_49', 'age_50_54', 'age_55_59', 'age_60_64', 'age_65_69', 'age_70_74', 'age_75_79', 'age_80_84', 'age_85_over', 'total']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sa2_code     373 non-null    int64
 1   sa2_name     373 non-null    object
 2   age_0_4      373 non-null    int64
 3   age_5_9      373 non-null    int64
 4   age_10_14    373 non-null    int64
 5   age_15_19    373 non-null    int64
 6   age_20_24    373 non-null    int64
 7   age_25_29    373 non-null    int64
 8   age_30_34    373 non-null    int64
 9   age_35_39    373 non-null    int64
 10  age_40_44    373 non-null    int64
 11  age_45_49    373 non-null    int64
 12  age_50_54    373 non-null    int64
 13  age_55_59    373 non-null    int64
 14  age_60_64    373 non-null    int64
 15  age_65_69    373 non-null    int64
 16  age_70_74    373 non-null    int64
 17  age_75_79    373 non-null    int64
 18  age_80_84    373 non-null    int64
 19  age_85_over  373 non-null    int64
 20  total        373 non-null    int64
dtypes: int64(20), object(1)
memory usage: 61.3+ KB
None
sa2_code       0
sa2_name       0
age_0_4        0
age_5_9        0
age_10_14      0
age_15_19      0
age_20_24      0
age_25_29      0
age_30_34      0
age_35_39      0
age_40_44      0
age_45_49      0
age_50_54      0
age_55_59      0
age_60_64      0
age_65_69      0
age_70_74      0
age_75_79      0
age_80_84      0
age_85_over    0
total          0
dtype: int64
    sa2_code                     sa2_name  age_0_4  age_5_9  age_10_14  \
0  102011028     Avoca Beach - Copacabana      424      522        623
1  102011029  Box Head - MacMasters Beach      511      666        702
2  102011030              Calga - Kulnura      200      225        258
3  102011031          Erina - Green Point      683      804        880
4  102011032        Gosford - Springfield     1164     1044       1084

   age_15_19  age_20_24  age_25_29  age_30_34  age_35_39  ...  age_45_49  \
0        552        386        222        306        416  ...        572
1        592        461        347        420        535  ...        749
2        278        274        227        214        286  ...        325
3        838        661        502        587        757  ...        859
4       1072       1499       1864       1750       1520  ...       1330

   age_50_54  age_55_59  age_60_64  age_65_69  age_70_74  age_75_79  \
0        602        570        520        464        369        226
1        749        794        895        863        925        603
2        436        422        397        327        264        190
3        882        901        930        917       1065        976
4       1241       1377       1285       1166        949        664

   age_80_84  age_85_over  total
0        142           70   7530
1        331          264  11052
2        100           75   4748
3        773         1028  14803
4        476          537  21346

[5 rows x 21 columns]

In [8]:
# Income cleaning
import numpy as np

# Load your dataset
df = pd.read_csv('Income.csv')

# 1. Rename column names to lowercase
df.columns = df.columns.str.lower()

# 2. Replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')

# 3. Replace hyphens with underscores

df.columns = df.columns.str.replace('-', '_')

df.replace("np", np.nan, inplace=True)

# 4. Drop rows with null values
df.dropna(inplace=True)

df.rename(columns={
    'sa2_code21': 'sa2_code'
}, inplace=True)

# Export cleaned and renamed dataset
df.to_csv("i_cleaned.csv", index=False)

# View the cleaned DataFrame
df.head()

,sa2_code,sa2_name,earners,median_age,median_income,mean_income
0,101021007,Braidwood,2467,51,46640,68904
1,101021008,Karabar,5103,42,65564,69672
2,101021009,Queanbeyan,7028,39,63528,69174
3,101021010,Queanbeyan - East,3398,39,66148,74162
4,101021012,Queanbeyan West - Jerrabomberra,8422,44,78630,91981

In [10]:
# Schools

import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon
from geoalchemy2 import Geometry, WKTElement
import matplotlib.pyplot as plt

In [16]:
# Adjust path as needed
catchments_primary = gpd.read_file("~/Desktop/DATA2001/DATA2001-A/catchments/catchments_primary.shp")

catchments_primary.columns = catchments_primary.columns.str.lower()

# Preview structure
print(catchments_primary.columns)
catchments_primary.head()

Index(['use_id', 'catch_type', 'use_desc', 'add_date', 'kindergart', 'year1',
       'year2', 'year3', 'year4', 'year5', 'year6', 'year7', 'year8', 'year9',
       'year10', 'year11', 'year12', 'priority', 'geometry'],
      dtype='object')

,use_id,catch_type,use_desc,add_date,kindergart,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,year11,year12,priority,geometry
0,2838,PRIMARY,Parklea PS,20181210,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((150.93564 -33.71612, 150.93715 -33.7..."
1,2404,PRIMARY,Lindfield EPS,20211219,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.18336 -33.74748, 151.18443 -33.7..."
2,4393,PRIMARY,Carlingford WPS,20220223,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.04518 -33.77303, 151.04526 -33.7..."
3,4615,PRIMARY,Caddies Ck PS,20181210,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((150.92567 -33.7296, 150.92602 -33.72..."
4,3918,PRIMARY,Killara PS,20211219,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.15379 -33.75586, 151.15404 -33.7..."

In [17]:
# Adjust path as needed
catchments_secondary = gpd.read_file("~/Desktop/DATA2001/DATA2001-A/catchments/catchments_secondary.shp")

catchments_secondary.columns = catchments_secondary.columns.str.lower()

# Preview structure
print(catchments_secondary.columns)
catchments_secondary.head()

Index(['use_id', 'catch_type', 'use_desc', 'add_date', 'kindergart', 'year1',
       'year2', 'year3', 'year4', 'year5', 'year6', 'year7', 'year8', 'year9',
       'year10', 'year11', 'year12', 'priority', 'geometry'],
      dtype='object')

,use_id,catch_type,use_desc,add_date,kindergart,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,year11,year12,priority,geometry
0,8503,HIGH_COED,Billabong HS,20200507,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((146.67182 -35.31444, 146.6893 -35.31..."
1,8266,HIGH_COED,James Fallon HS,20200507,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((147.08734 -35.86271, 147.10413 -35.8..."
2,8505,HIGH_COED,Murray HS,20200507,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((146.81448 -35.78341, 146.8125 -35.79..."
3,8458,HIGH_COED,Kingswood HS,20201016,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"MULTIPOLYGON (((150.686 -33.74031, 150.68631 -..."
4,8559,HIGH_COED,Jamison HS,20201016,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((150.69513 -33.75627, 150.68936 -33.7..."

In [14]:
# Adjust path as needed
catchments_future = gpd.read_file("~/Desktop/DATA2001/DATA2001-A/catchments/catchments_future.shp")

catchments_future.columns = catchments_future.columns.str.lower()

# Preview structure
print(catchments_future.columns)
catchments_future.head()

Index(['use_id', 'catch_type', 'use_desc', 'add_date', 'kindergart', 'year1',
       'year2', 'year3', 'year4', 'year5', 'year6', 'year7', 'year8', 'year9',
       'year10', 'year11', 'year12', 'geometry'],
      dtype='object')

,use_id,catch_type,use_desc,add_date,kindergart,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,year11,year12,geometry
0,8416,HIGH_COED,Ku-ring-gai HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19849 -33.5399, 151.19945 -33.54..."
1,8161,HIGH_BOYS,Randwick BHS,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
2,8539,HIGH_COED,SSC Blackwattle Bay,20220609,0,0,0,0,0,0,0,0,0,0,0,2024,2024,"POLYGON ((151.15292 -33.83939, 151.16144 -33.8..."
3,8400,HIGH_COED,St Ives HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.17794 -33.6982, 151.17859 -33.69..."
4,8555,HIGH_COED,Rose Bay SC,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.28072 -33.83287, 151.28095 -33.8..."

In [23]:
from sqlalchemy import create_engine, text
import psycopg2
import psycopg2.extras
import json
import os
import pandas as pd

credentials = os.path.expanduser("~/Desktop/DATA2001/Tutorial/Credentials.json")


def pgconnect(credential_filepath, db_schema="public"):
    with open(credential_filepath) as f:
        db_conn_dict = json.load(f)
        host       = db_conn_dict['host']
        db_user    = db_conn_dict['user']
        db_pw      = db_conn_dict['password']
        default_db = "assignment"  ##### The right database
        port       = db_conn_dict['port']
        try:
            db = create_engine(f'postgresql+psycopg2://{db_user}:{db_pw}@{host}:{port}/{default_db}', echo=False)
            conn = db.connect()
            print('Connected successfully.')
        except Exception as e:
            print("Unable to connect to the database.")
            print(e)
            db, conn = None, None
        return db,conn

def query(conn, sqlcmd, args=None, df=True):
    result = pd.DataFrame() if df else None
    try:
        if df:
            result = pd.read_sql_query(sqlcmd, conn, params=args)
        else:
            result = conn.execute(text(sqlcmd), args).fetchall()
            result = result[0] if len(result) == 1 else result
    except Exception as e:
        print("Error encountered: ", e, sep='\n')
    return result

In [25]:
db, conn = pgconnect(credentials)

Connected successfully.

In [27]:
import geopandas as gpd

# Define shapefile paths
base_path = "~/Desktop/DATA2001/DATA2001-A/catchments/"
shapefiles = {
    "catchments_primary": "catchments_primary.shp",
    "catchments_secondary": "catchments_secondary.shp",
    "catchments_future": "catchments_future.shp"
}

# Loop through the catchment files and upload to PGadmin
for table_name, shp_file in shapefiles.items():
    print(f"Processing {table_name}...")
    gdf = gpd.read_file(os.path.expanduser(os.path.join(base_path, shp_file)))
    gdf.columns = [col.lower() for col in gdf.columns]  
    gdf.to_postgis(name=table_name, con=db, if_exists="replace", index=False)
    print(f"Uploaded {table_name} successfully.")

print(f"Using DB: {db.url.database}")

Processing catchments_primary...
Uploaded catchments_primary successfully.
Processing catchments_secondary...
Uploaded catchments_secondary successfully.
Processing catchments_future...
Uploaded catchments_future successfully.
Using DB: assignment

In [ ]:
#### STOPS CLEANING AND FILTERING

# Load stops.txt
stops = pd.read_csv('Stops.txt')

# Preview
stops.head()

# Some cleaning
# Drop rows where stop_lat or stop_lon is missing
stops = stops.dropna(subset=['stop_lat', 'stop_lon'])

# We want to only select the stops inside three areas: 
# Inner West, North Sydney and Hornsby, City and Inner South

# No column name telling which region a stop belongs to
# So: use the stop's latitude and longitude (stop_lat, stop_lon) to filter our disired data

In [ ]:
sa2 = gpd.read_file("~/Desktop/DATA2001/DATA2001-A/SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp")

print(sa2.columns)
sa2.head()

sa2_sydney = sa2[sa2['GCC_NAME21'] == 'Greater Sydney']

# Create geometry column for stops
stops['geometry'] = stops.apply(lambda row: Point(row['stop_lon'], row['stop_lat']), axis=1)

# Turn stops into a GeoDataFrame (same CRS)
stops_gdf = gpd.GeoDataFrame(stops, geometry='geometry', crs="EPSG:4326") #4326

stops_gdf = stops_gdf.to_crs(epsg=7844)

stops_with_sa2 = gpd.sjoin(stops_gdf, sa2_sydney, how='left', predicate='within')

# print(stops_with_sa2.head(10)) #debug

target_regions = [
    'Sydney - Inner West',
    'Sydney - North Sydney and Hornsby',
    'Sydney - City and Inner South'
]

filtered_stops = stops_with_sa2[stops_with_sa2['SA4_NAME21'].isin(target_regions)]

filtered_stops = filtered_stops.dropna(subset=['SA4_NAME21'])

columns_to_keep = [
    'stop_id', 'stop_name', 'stop_lat', 'stop_lon',
    'wheelchair_boarding', 'SA2_CODE21', 'SA2_NAME21', 'SA4_NAME21', 'geometry'
]

filtered_stops = filtered_stops[columns_to_keep]

filtered_stops.columns = filtered_stops.columns.str.lower()

filtered_stops.to_csv('s_filtered.csv', index=False)

In [ ]:
# SA2 regions cleaning
sa2_path = "~/Desktop/DATA2001/DATA2001-A/SA2_regions/SA2_2021_AUST_GDA2020.shp"
sa2_gdf = gpd.read_file(os.path.expanduser(sa2_path))

#Keep only useful columns
sa2_gdf.columns = [col.lower() for col in sa2_gdf.columns]
columns_to_keep = ["sa2_code21", "sa2_name21", "sa4_name21", "geometry"]
sa2_gdf = sa2_gdf[columns_to_keep]

# Filter rows by target SA4 regions
target_sa4 = [
    "Sydney - Inner West",
    "Sydney - North Sydney and Hornsby",
    "Sydney - City and Inner South"
]
sa2_gdf = sa2_gdf[sa2_gdf["sa4_name21"].isin(target_sa4)]

# SUpload to PostgreSQL
sa2_gdf.to_postgis(name="sa2_regions", con=db, if_exists="replace", index=False)

print(f"âœ… Cleaned and uploaded 'sa2_regions' with {len(sa2_gdf)} rows.")
sa2_gdf.head()

In [ ]:
# Import everything into each person's local server, using the same column name

## Task 2

In [ ]:
import geopandas as gpd
northSydney_gdf = gpd.read_postgis("""
    SELECT *
    FROM sa2_regions
    WHERE sa4_name21 = 'Sydney - North Sydney and Hornsby'
""", conn, geom_col="geometry")

innerwest_gdf = gpd.read_postgis("""
    SELECT *
    FROM sa2_regions
    WHERE sa4_name21 = 'Sydney - Inner West'
""", conn, geom_col="geometry")

In [ ]:
import requests
import io
import geopandas as gpd

def get_pois_from_bbox(minx, miny, maxx, maxy):
    url = "https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_POI/MapServer/0/query"
    params = {
        "f": "geojson",
        "geometryType": "esriGeometryEnvelope",
        "geometry": f"{minx},{miny},{maxx},{maxy}",
        "spatialRel": "esriSpatialRelIntersects",
        "outFields": "*",
        "inSR": "4283",
        "outSR": "4283"
    }
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        return gpd.read_file(io.StringIO(response.text))
    except Exception as e:
        print(f" Error fetching POIs for bbox {minx},{miny},{maxx},{maxy}:", e)
        return None

In [ ]:
import time
from shapely.geometry import shape

all_pois = []
#northsydn
for _, row in northSydney_gdf.iterrows():
    sa2 = row["sa2_name21"]
    minx, miny, maxx, maxy = row["geometry"].bounds
    print(f"Fetching POIs for {sa2}...")
    
    pois = get_pois_from_bbox(minx, miny, maxx, maxy)
    if pois is not None and not pois.empty:
        pois["sa2_name"] = sa2
        all_pois.append(pois)
    
    time.sleep(1)  # be nice to the server
#innerwest
for _, row in innerwest_gdf.iterrows():
    sa2 = row["sa2_name21"]
    minx, miny, maxx, maxy = row["geometry"].bounds
    print(f"Fetching POIs for {sa2}...")
    
    pois = get_pois_from_bbox(minx, miny, maxx, maxy)
    if pois is not None and not pois.empty:
        pois["sa2_name"] = sa2
        all_pois.append(pois)
    
    time.sleep(1)  # be nice to the server

In [ ]:
from geopandas import GeoDataFrame

#north sydney 
if all_pois:
    all_pois_gdf = gpd.GeoDataFrame(pd.concat(all_pois, ignore_index=True), crs="EPSG:4283")
    all_pois_gdf.to_postgis("pois_northSydney", con=db, if_exists="replace", index=False)
    print(f"Uploaded {len(all_pois_gdf)} POIs.")
else:
    print("No POIs collected.")

#inner west
if all_pois:
    all_pois_gdf = gpd.GeoDataFrame(pd.concat(all_pois, ignore_index=True), crs="EPSG:4283")
    all_pois_gdf.to_postgis("pois_innerwest", con=db, if_exists="replace", index=False)
    print(f"Uploaded {len(all_pois_gdf)} POIs.")
else:
    print("No POIs collected.")

## ðŸ§¾ Task 3 Summary â€” Scoring SA2 Regions

Each group member focuses on their assigned SA4 zone and generates a score for every SA2 within that zone to evaluate how well-resourced the area is.

The final output should be a table where each row is an SA2, and columns represent standardized metrics (z-scores), the sum of selected z-scores, and the final score (between 0 and 1).

---

### âœ… Final Output Table Structure

| Column Name    | Description                                                  |
|----------------|--------------------------------------------------------------|
| `sa2_code21`    | SA2 code (from shapefile)                                   |
| `sa2_name21`    | SA2 name                                                    |
| `z_<aspect>`    | Z-score for each selected aspect (e.g. `z_stops`, `z_businesses`) |
| `z_sum`         | Sum of all selected z-scores                                |
| `final_score`   | Final score after applying sigmoid to `z_sum`               |

---

### ðŸ§­ Individual Workflow

1. **Select metrics** relevant to your SA4  
   (e.g. businesses, stops, schools, POIs â€” choose based on the characteristics of your SA4).

2. **Calculate raw values** for each SA2 in your SA4  
   (such as number of stops, number of clinics, businesses per population, etc.).

3. **Drop SA2s where total population < 100** before calculating z-scores.

4. **Calculate z-scores** for each metric using the formula:

   ```
   z = (x âˆ’ Î¼) / Ïƒ
   ```

   Where:  
   - `x` = the raw value for an SA2  
   - `Î¼` = the mean of that metric within the SA4  
   - `Ïƒ` = the standard deviation within the SA4

   > ðŸ’¡ *It is recommended to calculate the mean and standard deviation using only SA2s within your assigned SA4 region (not the full dataset), as this ensures your scores are meaningful in local context.*

5. **Sum the z-scores** you are using:

   ```
   z_sum = z_metric1 + z_metric2 + ... + z_metricN
   ```

6. **Apply the sigmoid function to z_sum** to calculate the final score:

   ```
   final_score = 1 / (1 + e^(âˆ’z_sum))
   ```

---

### ðŸ“Œ Reminders

- You do not need to use the same metrics as other group members â€” select what best fits your SA4.
- You do not need to normalize across SA4 zones â€” each SA4 is calculated independently.
- The final scores are only meaningful within each SA4 region.