# DATA2001 Assignment - Team 3 ðŸ§ ðŸ“Š

**Group Name**: Data Princesses

**Team Members**: Michella Krishna, Yujia Liu, Katherine Kong

**Region Focus**: City and Inner South, North Sydney and Hornsby, Inner West

## ðŸ“š Table of Contents

1. [Project Overview](#project-overview)  
2. [Dataset Overview](#dataset-overview)  
3. [Data Preparation (All Regions)](#data-preparation)  
4. [SA4 Zone Analyses](#sa4-analyses)  
    4.1 [City and Inner South](#city-and-inner-south)  
    4.2 [North Sydney and Hornsby](#north-sydney-and-hornsby)        
    4.3 [Inner West](#inner-west)  
6. [Score Comparison Across SA4 Zones](#score-comparison)  
7. [Correlation with Income](#correlation-analysis)  
8. [Conclusion and Reflection](#conclusion)

In [2]:
import pandas as pd

# Load the dataset
businesses = pd.read_csv("Businesses.csv")

# Preview the first few rows
businesses.head()

businesses.isnull().sum()

# Rename columns

# Export the cleaned dataset

,industry_code,industry_name,sa2_code,sa2_name,0_to_50k_businesses,50k_to_200k_businesses,200k_to_2m_businesses,2m_to_5m_businesses,5m_to_10m_businesses,10m_or_more_businesses,total_businesses
0,A,"Agriculture, Forestry and Fishing",101021007,Braidwood,136,92,63,4,0,0,296
1,A,"Agriculture, Forestry and Fishing",101021008,Karabar,6,3,0,0,0,0,9
2,A,"Agriculture, Forestry and Fishing",101021009,Queanbeyan,6,4,3,0,0,3,15
3,A,"Agriculture, Forestry and Fishing",101021010,Queanbeyan - East,0,3,0,0,0,0,3
4,A,"Agriculture, Forestry and Fishing",101021012,Queanbeyan West - Jerrabomberra,7,4,5,0,0,0,16